.app-container {
  max-width: 1200px;
  margin: 0 auto;
  /* centers the container horizontally */
  padding: 120px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.app-container h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--text-primary);
}

.app-container p {
  color: var(--text-secondary);
  font-size: 1.2rem;
}